/** Style for the submit button**/

input[type=submit] {
    background-color: #17a2b8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: lightblue;
}